body{
    background-color: black;
    color: white;
    margin: auto;
}

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height:70px;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}


img {
    position: absolute;
    left: 50%;
    top: 10%;
    border: 3px solid #73AD21;
    padding: 5px;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #999;
    border: none;
    border-radius: 50%;
    box-shadow: 0 5px #666;
}


    img:hover {
        background-color: #b2aaaa;
    }

    img:active {
        background-color: #b2aaaa;
        box-shadow: 0 3px #666;
        transform: translateY(4px);
    }
